body{
    padding-top: 55px;
}

.contact-info{
    color:snow;
    margin-left: 20px;
    margin-right: 20px;
}

.contact-info:hover{
    animation: pulse;
}

#welcome{
    background-image:url("skyline.jpg");
    background-position: center 90%;
    height:100%;
    object-fit:cover;
    padding:200px 200px;
    background-repeat:no-repeat;
}

#hello{
    color:snow;
    font-weight:bold;
    font-size:64pt;
    text-align:center;
}

#helloSub{
    color:snow;
    text-align:center;
}