body{
    padding-top: 55px;
}

.contact-info{
    color:snow;
    margin-left: 20px;
    margin-right: 20px;
}

.contact-info:hover{
    animation: pulse;
}

.dropdown{
    color:snow;
}

#welcome{
    background-image:url("skyline.jpg");
    background-position: center 100%;
    background-size:cover;
    padding:100px 0 400px;
    height:100%;
    background-repeat:no-repeat;
}

#hello{
    color:snow;
    font-weight:bold;
    font-size:4vw;
    text-align:center;
}

#helloSub{
    color:snow;
    font-size:3vw;
    text-align:center;
}

#spacing{
    padding-bottom:500px;
}

#about{
    padding:00px 0 200px;
}

#profile-picture{
    border-radius: 50%;
    height:200px;
}