body{
    padding-top: 55px;
}

html{
    scroll-behavior:smooth;
}

.contact-info{
    color:snow;
    margin-left: 20px;
    margin-right: 20px;
}

.contact-info:hover{
    animation: pulse;
}

#welcome{
    background-image:url("skyline.jpg");
    background-position: center 100%;
    background-repeat:no-repeat;
    background-size:cover;
    padding:100px 0 400px;
    height:100%;
    min-height:720px;
}

#hello{
    color:snow;
    font-weight:bold;
    font-size:4vw;
    text-align:center;
}

#helloSub{
    color:snow;
    font-size:3vw;
    text-align:center;
}

@media only screen and (max-width:575px){
    #hello{
        font-size:7vh;
    }
    #helloSub{
        font-size:25pt;
    }
}

#dropdown{
    color:snow;
}

#about{
    padding:00px 0 100px;
}

#profile-picture{
    border-radius: 50%;
    height:200px;
}

#experience{
    background-color: gray;
    padding:50px 0 50px
}